<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Resultado</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='logoucd.jpg') }}" alt="Logo de la Aplicación">
        UCD
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i> Contador Palabras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('validar') }}"><i class="fa fa-file-excel-o"></i> Rev. Excel</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
        {% if success_message %}
        <div class="alert alert-success" role="alert">
            {{ success_message }}
        </div>
        {% endif %}

        {% if empty_cells %}
        <h1>Celdas vacías encontradas:</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Celda</th>
                </tr>
            </thead>
            <tbody>
                {% for cell in empty_cells %}
                <tr>
                    <td>{{ cell }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        {% set empty_cells = [] %}
        {% endif %}


    </div>
<hr>
<div class="container">
<a href="/validar" class="btn btn-primary">Regresar</a>
</div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
